.playerCard img {
    width: 5vw; 
}

.playerCard {
    margin: 0.5vw;
    padding: 0.5vw;
    border-radius: 5%;
    background-color: lightblue;
}

.playerCard h1 {
    color: black;
    font-size: 0.5vw;
}

.playerCard:hover {
    background-color: turquoise;
}
