@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

.header {
    justify-content: center;
    display: flex;
    text-align: center;
    font-family: "Jura"; 
}

.header > h1 {
    width: 25%;
}
.header > img {
    width: 5%;
}

.footer {
    text-align: center;
}

.playerCard {
    width: 5vw;
}
.playerCards {
    justify-content: center;
    display: flex;
}

.heldCards {
    justify-content: center;
    display: flex;
}

.deckCard {
    width: 4vw;
    background-color: lightblue;
}

.deckCards {
    justify-content: center;
    display: flex;
    gap: 1vw;
}

.playOrPass {
    display: flex;
    justify-content: center;
    gap: 10%;
}

.playOrPass > button {
    width: 5vw;
}

