@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

.header {
    justify-content: center;
    display: flex;
    text-align: center;
    font-family: "Jura"; 
}

.header > h1 {
    width: 25%;
}

.homeButton {
    justify-content: center;
    align-items: center;
    display: flex;
}

.homeButton h1 {
    font-family: "Jura"; 
    font-size: 2vw;
    width: 12vw;
}
.homeButton button {
    margin: 0.5vw;
    width: 3vw;
}

.footer {
    text-align: center;
}

.playerCards {
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: grey;
}

.heldCards {
    justify-content: center;
    display: flex;
    background-color: darkgreen;
}

.deckCard {
    width: 4vw;
    background-color: lightblue;
}

.deckCards {
    justify-content: center;
    display: flex;
    gap: 1vw;
}

.playOrPass {
    display: flex;
    justify-content: center;
    gap: 10%;
}

.playOrPass > button {
    width: 5vw;
}

.playerCard img {
    width: 5vw; 
}

.playerCard {
    width: 6vw; 
    height: 8vw;
    margin: 0.5vw;
    padding: 0.5vw;
    border-radius: 5%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cardNumber > p {
    color:white; 
}

.cardIdentifier > .cardNumber {
    margin-left: 4.1vw;
}

.playerCard h1 {
    font-size: 3vh;
    color: black;
}

.playerCard > .cardIdentifier {
    display: flex;
    justify-content: center;
    gap: -3vw;
    height: 2vh;
}

.cardIdentifier > .cardSuit {
    margin-top: -0.9vh;
    margin-right: 0.9vw;
}

.centralImage {
    margin-top: -0.9vh;
}

.playerCard:hover {
    background-color: gold;
}