.frontPageButtons {
    align-items: center;
    justify-content: center;
    display: flex;
}

.waitingMessage {
    align-items: center;
    justify-content: center;
    display: flex;
}

.validStartButton {
    background-color: blue;
}

.invalidStartButton {
    background-color: grey;
}
